body {
    font-family: 'Inconsolata', monospace;
    display: flex;
    margin: 0; 
}

pre {
    white-space: pre-wrap;    /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap;   /* Opera 4-6 */
    white-space: -o-pre-wrap;  /* Opera 7 */
    word-wrap: break-word;    /* Internet Explorer 5.5+ */
   }

section {
    width: 78%; 
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 2vmin;
    word-wrap: break-word;
}

.upper{
    height: 95%;
}
.lower{
    height: 5%;
}
.sidenav {
    width: 22%;
    height: 100vh;
    overflow: hidden;
}

p1 {
    font-size: 5vmin;
    margin: 0; 
}

h1 {
    font-size: 2vmin;  
    margin: 0; 
}

img {
    width: 100%;
}

.date {
    display: inline-block;
    text-align: left;
    width: 60%;
    font-size: 4vmin;
}
.thing {
    display: inline-block;
    text-align: right;
    font-size: 4vmin;
    width: 40%;
}
